# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\elias\Documents\Toegepaste Informatica\2de jaar\1ste semester\Webontwikkeling 3\Labo's\Week 1 en 2\1A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
